<!DOCTYPE html>
{% extends 'twentyPass/index.html' %}
<html>
  <head>
    <meta charset="utf-8">
    <title>스무고개 문제 만들기</title>
  </head>
  <body>
    {% block content %}
    <div class="pd">
      <form method="POST" action="{% url 'add' %}" class="sign-in-form">
        {% csrf_token %}
        <h2 class="sub-title"> 문제 작성하기 </h2> <br><br>
        <table class="table table-bordered">
          <tr>
            <td>
                <input class="form-control" placeholder="제목" maxlength="100" name="{{ form.title.html_name }}" type="text" />
            </td>
          </tr>
          <tr>
            <td>
              <textarea class="form-control" id name="{{ form.question.html_name }}" style="resize:none;" rows="20px;">여기에 20가지 질문을 작성하세요!(문제별로 ENTER로 구분해주세요)
              </textarea>
            </td>
          </tr>
          <tr>
            <td>
                <input class="form-control" placeholder="답"  maxlength="100" name="{{ form.answer.html_name }}" type="text" />
            </td>
          </tr>
        </table>
        <button type="submit" class="btn btn-warning">저장하기</button>
      </form>
    </div>
    {% endblock %}
  </body>
</html>
